*.pdf
.DS_Store
.DS_Store
lab05/2.1.txt
lab05/3.txt
lab05/4.txt
lab05/5 Extra.txt
lab05/6 Extra.txt
lab05/2.2.txt
.DS_Store
lab06/test.txt
lab06/lab 6 input Demo.txt
lab06/Extra6.7.txt
lab06/EXtra6.6.txt
lab06/Extra6.5.txt
lab06/6.4.txt
lab06/6.3.txt
lab06/6.2.txt
.DS_Store
.DS_Store
.DS_Store
lab07/7.2.txt
lab07/7.3.txt
lab07/7.4.txt
lab07/7_extra1.txt
lab07/7_extra2.txt
.DS_Store
.DS_Store
lab08/lab 8 me.py
