*.pdf
.DS_Store
.DS_Store
lab05/2.1.txt
lab05/3.txt
lab05/4.txt
lab05/5 Extra.txt
lab05/6 Extra.txt
lab05/2.2.txt
.DS_Store
lab06/test.txt
lab06/lab 6 input Demo.txt
lab06/Extra6.7.txt
lab06/EXtra6.6.txt
lab06/Extra6.5.txt
lab06/6.4.txt
lab06/6.3.txt
lab06/6.2.txt
.DS_Store
.DS_Store
.DS_Store
lab07/7.2.txt
lab07/7.3.txt
lab07/7.4.txt
lab07/7_extra1.txt
lab07/7_extra2.txt
.DS_Store
.DS_Store
lab08/lab 8 me.py
lab08/Lab 8 testcase.txt
lab08/lab8.py
lab09/9.8.txt
lab09/9.6.txt
lab09/9.7.txt
lab09/9.3.txt
lab09/9.1.txt
lab09/9.2.txt
lab09/9.4.txt
lab09/9.5.txt
lab09/9.1.txt
.DS_Store
lab10/3.ex.txt
lab10/3.3.txt
lab10/3.2.txt
lab10/2.4.txt
lab10/2.3.txt
lab10/2.1.txt
lab10/2.2.txt
lab10/10.3.txt
lab10/10.3.py
lab10/10.2.py
lab10/10.2(comb).py
lab10/10.1.py
lab10/10.1.2.txt
lab10/10.2.txt
lab10/10.1.1.txt
lab10/1.5.txt
lab10/1.1.txt
lab10/1.2.txt
lab10/1.3.txt
lab10/1.4.txt
.DS_Store
